/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap');

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Tourney', cursive;
}

section {
    position: relative;
    width: 100%;
    background: #3586ff;
    overflow: hidden;
}

    section .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(../images/wave.png);
        background-size: 1000px 100px;
    }

        section .wave.wave1 {
            animation: animate 30s linear infinite;
            z-index: 1000;
            opacity: 1;
            animation-delay: 0s;
            bottom: 0;
        }

        section .wave.wave2 {
            animation: animate 15s linear infinite;
            z-index: 999;
            opacity: 0.5;
            animation-delay: -5s;
            bottom: 10px;
        }

        section .wave.wave3 {
            animation: animate 30s linear infinite;
            z-index: 998;
            opacity: 0.2;
            animation-delay: -2s;
            bottom: 15px;
        }

        section .wave.wave4 {
            animation: animate 5s linear infinite;
            z-index: 997;
            opacity: 0.7;
            animation-delay: -5s;
            bottom: 20px;
        }

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

.cards {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 90px;
}

.card {
    min-width: 502px;
    max-height: 502px;
    max-width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.player {
    font-size: 40px;
    color: white;
    position: absolute;
    bottom: -60px;
    left: 205px;
    text-align: center;
}

.title {
    z-index: 1000;
    color: white;
    font-size: 70px;
    display: table;
}

.field {
    border: grey solid 1px;
    height: 50px;
    width: 50px;
    margin: 0;
}

.positionHorizontal {
    position: absolute;
    font-size: 30px;
    top: -45px;
    color: white;
    left: 16px;
}

.positionVertical {
    position: absolute;
    list-style-type: none;
    color: white;
    font-size: 35px;
    left: -35px;
}


.start {
    display: table;
}

    .start button {
        color: white;
        border-color: white;
        transition: all 0.3s;
    }

        .start button:hover {
            color: white;
            border-color: white;
            transform: scale(0.9);
        }

.shipHorizontalLeft {
    background-color: black;
    border-radius: 5px 0 0 5px;
    height: 20px;
    width: 40px;
    margin-left: 10px;
    margin-top: 13px;
}

.shipHorizontalMid {
    background-color: black;
    height: 20px;
    width: 50px;
    margin-top: 13px;
}

.shipHorizontalRight {
    background-color: black;
    border-radius: 0 5px 5px 0;
    height: 20px;
    width: 40px;
    margin-top: 13px;
    margin-right: 10px;
}

.shipVerticalDown {
    background-color: black;
    border-radius: 0 0 5px 5px;
    height: 40px;
    width: 20px;
    margin-left: 13px;
    margin-bottom: 10px;
}

.shipVerticalMid {
    background-color: black;
    border-radius: 0 0 5px 5px;
    height: 50px;
    width: 20px;
    margin-left: 13px;
}

.shipVerticalUp {
    background-color: black;
    border-radius: 5px 5px 0 0;
    height: 40px;
    width: 20px;
    margin-left: 13px;
    margin-top: 10px;
}

.fa-times {
    color: red;
    font-size: 70px;
    margin-top: -23px;
    margin-left: -11px;
}

.fa-bomb {
    color: black;
    font-size: 35px;
    margin-top: -8px;
    margin-left: 8px;
}

.spinner-border{
    position:absolute;
    width:200px;
    height:200px;
    margin-top:150px;
    margin-left:150px;
}

.spinner-grow {
    position: absolute;
    right: 170px;
    bottom:-46px;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    font-size: 40px;
    right: 10px;
    color: white;
    top: -80px;
    cursor: pointer;
}

.waves {
    height: 200px;
}

@media only screen and (max-width: 1200px) {
    .cards {
        display:grid;
    }

    .card {
        margin-bottom:120px;
    }

    .waves {
        margin-top: -100px;
    }
}

